@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab&display=swap");

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.partypok {
	font-family: "Roboto Slab", serif;
	cursor: pointer;
	color: white;
	font-size: 1.8em;
}

body button {
	border-color: #216583;
	background-color: #cffdf8;
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
}

/* input {
	border-color: #f76262;
} */

.party-title {
	/* background-color: #f76262; */
	margin-left: 2%;
	font-family: "Roboto Slab", serif;
}

.button-on-right {
	margin-right: 20px;
	margin-left: 15px;
}

.new-font {
	font-family: "Open Sans", sans-serif;
}

.modaling {
	position: absolute;
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
	border: 1px solid rgb(204, 204, 204);
	background: rgb(255, 255, 255);
	overflow: auto;
	border-radius: 4px;
	outline: none;
	padding: 20px;
	background-color: #f4f5f7;
}
